@tailwind base;
@tailwind components;
@tailwind utilities;
hr{
    border-top: 1px solid #969696;
}
.btn{
    width: 100%;
    padding: 8px;
    font-size: 25px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
}

.btn-primary{
    background-color: #1877f2;
}
.btn-secondary{
    background-color: #36a420;
}

